.invoice-container{
    padding: 30px;
}

.invoice-grid {
    padding: 55px;
    width: 100%;
    margin: 20px auto;


}

.ag-theme-alpine {
    height: 500px;
    width: 100%;
}

.mat-slide-toggle {
    display: inline-block;
}
