<div class="invoice-container">
  <div class="flex justify-between align-middle">
    <div class="w-full">

    </div>
    <button
        class="bg-green-500 text-white px-3 py-2 rounded-md hover:bg-green-600 transition-all h-fit w-[150px]">
        + Add New
    </button>
</div>
<app-search-invoice (search)="onSearch($event)"></app-search-invoice>


    <div class="invoice-grid">
        <ag-grid-angular
            style="width: 100%;"
            class="ag-theme-alpine"
            [rowData]="invoice$ | async"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            (gridReady)="onGridReady($event)"
            [rowHeight]="rowHeight">
        </ag-grid-angular>
    </div>
</div>
