<div class="bg-slate-100 min-h-screen flex items-center justify-center">
    <div class="bg-white rounded-lg p-8 shadow-md w-full max-w-xl">
        <h2 class="text-2xl font-semibold mb-6 text-center">{{ isEditMode ? 'Edit Customer' : 'Add Customer'}}</h2>

        <form #customerForm="ngForm">
            <div>
                <div class="font-bold pb-1">Name</div>
                <input class="w-full p-2 border border-stone-400 rounded-md" placeholder="Enter name..."
                    [(ngModel)]="customer!.name" name="name" required #name="ngModel" />
                <mat-error *ngIf="name.invalid && name.touched">Name is required</mat-error>
            </div>

            <div class="py-2">
                <div class="font-bold pb-1">Phone Number</div>
                <input class="w-full p-2 border border-stone-400 rounded-md" placeholder="Enter phone number..."
                    [(ngModel)]="customer!.phoneNumber" name="phoneNumber" required pattern="[0-9]*"
                    #phoneNumber="ngModel" />
                <mat-error *ngIf="phoneNumber.invalid && phoneNumber.touched">
                    Valid phone number is required
                </mat-error>
            </div>

            <div *ngIf="isEditMode">
                <div class="font-bold pb-1">Status</div>
                <select class="w-full p-2 border border-stone-400 rounded-md" [(ngModel)]="customer!.status"
                    name="status" required #status="ngModel">
                    <option [ngValue]="'ACTIVE'">ACTIVE</option>
                    <option [ngValue]="'INACTIVE'">INACTIVE</option>
                </select>
                <mat-error *ngIf="status.invalid && status.touched">
                    Status is required
                </mat-error>
            </div>

            <div class="flex justify-between mt-6">
                <button type="button"
                    class="bg-[#FFDECB] font-semibold w-full text-[#F37022] px-4 py-2 rounded-md hover:bg-[#f6cfb8] transition-all"
                    (click)="onCancel()">
                    Cancel
                </button>
                <div class="w-4"></div>
                <button type="submit"
                    class="bg-[#F37022] font-semibold w-full text-white px-4 py-2 rounded-md hover:bg-[#df763a] transition-all disabled:bg-gray-400"
                    [disabled]="customerForm.invalid" (click)="onSubmit()">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
