table {
    width: 100%;
}
  
tr.example-detail-row {
    height: 0;
}
  
tr.example-element-row:not(.example-expanded-row):hover {
    background: #044b54;
}
  
tr.example-element-row:not(.example-expanded-row):active {
    background: #044b54;
}
  
.example-element-row td {
    border-bottom-width: 0;
}
  
.example-expanded-row {
    display: none;
}
  
.inactive-row {
    background-color: #435159;
    color: #a0a0a0;
}  