<div class="container mt-3">
  <div class="d-flex align-items-center">
    <mat-form-field appearance="fill" class="flex-grow-1">
      <mat-label>Search Customer ID</mat-label>
      <input matInput [(ngModel)]="customerId" placeholder="Enter ID" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="flex-grow-1 mx-2">
      <mat-label>Search Customer Name</mat-label>
      <input matInput [(ngModel)]="customerName" placeholder="Enter Name" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="flex-grow-1 mx-2">
      <mat-label>Start Month</mat-label>
      <mat-select [(ngModel)]="startMonth">
        <mat-option *ngFor="let month of months" [value]="month.value">
          {{ month.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="flex-grow-1 mx-2">
      <mat-label>Start Year</mat-label>
      <input matInput type="number" [(ngModel)]="startYear" placeholder="Enter Year" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="flex-grow-1 mx-2">
      <mat-label>End Month</mat-label>
      <mat-select [(ngModel)]="endMonth">
        <mat-option *ngFor="let month of months" [value]="month.value">
          {{ month.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="flex-grow-1 mx-2">
      <mat-label>End Year</mat-label>
      <input matInput type="number" [(ngModel)]="endYear" placeholder="Enter Year" />
    </mat-form-field>

    <button mat-icon-button color="primary" (click)="performSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>