<div class="container mt-3">
    <div class="d-flex align-items-center">
      <mat-form-field appearance="fill" class="flex-grow-1">
        <mat-label>Search ID</mat-label>
        <input matInput [(ngModel)]="customerId" placeholder="Enter ID" />
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="flex-grow-1 mx-2">
        <mat-label>Search Name</mat-label>
        <input matInput [(ngModel)]="customerName" placeholder="Enter Name" />
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="flex-grow-1 mx-2">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate" placeholder="Choose Start Date" />
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="flex-grow-1 mx-2">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate" placeholder="Choose End Date" />
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
  
      <button mat-icon-button color="primary" (click)="performSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
</div>